<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copilot</title>
    <link href="/assets/css/output.css" rel="stylesheet" type="text/css">
    <link href="/assets/img/favicon.png" rel="icon" type="image/png">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>

<body>
    <nav class="bg-blue-500 p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">
            <div>
                <a href="/" class="text-2xl font-bold">Copilot</a>
            </div>
            <div class="space-x-4">
                <a href="" class="hover:text-gray-200">Settings</a>
            </div>
        </div>
    </nav>

    <div id="data" class="w-screen p-4 flex justify-center" hx-get="/api/data" hx-trigger="load">
        <img class="w-10" src="/assets/img/bars.svg" alt="Loading...">
    </div>

    <div class="fixed bottom-4 right-4 bg-blue-500 text-white p-4 shadow-lg">
        <form>
            <input type="text" name="type" placeholder="Type" class="w-full p-4 border border-gray-200 rounded-lg mb-4">
            <input type="text" name="value" placeholder="Value"
                class="w-full p-4 border border-gray-200 rounded-lg mb-4">
            <button class="w-full p-4 bg-blue-300 text-white rounded-lg" hx-post="/api/data" hx-trigger="click"
                hx-target="#data">Add sample record</button>
        </form>
    </div>
</body>

</html>