{{define "tools"}}
<div id="dash-content" class="bg-gray-200 py-6 lg:py-0 w-full lg:max-w-sm flex flex-wrap">

    <div class="w-1/2 lg:w-full flex">
        <div
            class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6 w-full">
            <div class="flex flex-col items-start">
                <div class="flex-1">
                    <h3 class="font-bold text-xl">Voltage measurement</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="w-1/2 lg:w-full flex">
        <div
            class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6 w-full">
            <div class="flex flex-col items-start">
                <div class="flex-1">
                    <h3 class="font-bold text-xl">Current measurement</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="w-1/2 lg:w-full flex">
        <div
            class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6 w-full">
            <div class="flex flex-col items-start">
                <div class="flex-1">
                    <h3 class="font-bold text-xl">Pulse-width modulation</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="w-1/2 lg:w-full flex">
        <div
            class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6 w-full">
            <div class="flex flex-col items-start">
                <div class="flex-1">
                    <h3 class="font-bold text-xl">Power relay</h3>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="tools" class="flex flex-grow flex-col flex-wrap m-0 p-6">

    <div class="flex flex-1 flex-col">
        <div class="p-3 border-b flex">
            <h5 class="font-bold text-black">Voltage</h5>
        </div>
        <div class="p-5 flex flex-1">
            <div class="ct-chart w-full" id="chart1"></div>
        </div>
    </div>
    <div class="flex flex-1 flex-col">
        <div class="p-3 border-b flex">
            <h5 class="font-bold text-black">Current</h5>
        </div>
        <div class="p-5 flex flex-1">
            <div class="ct-chart w-full" id="chart2"></div>
        </div>
    </div>

</div>

<script>
    var mainChart = new Chartist.Line('#chart1', {
        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        series: [
            [1, 5, 2, 5, 4, 3],
            [2, 3, 4, 8, 1, 2],
            [5, 4, 3, 2, 1, 0.5]
        ]
    }, {
        low: 0,
        showArea: true,
        showPoint: false,
        fullWidth: true
    });

    var secChart = new Chartist.Line('#chart2', {
        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        series: [
            [1, 5, 2, 5, 4, 3],
            [2, 3, 4, 8, 1, 2],
            [5, 4, 3, 2, 1, 0.5]
        ]
    }, {
        low: 0,
        showArea: true,
        showPoint: false,
        fullWidth: true
    });
</script>
{{end}}