{{define "vehicleSelect"}}
<nav id="vehicleSelect" class="flex bg-gray-200 w-full max-w-sm items-center border-b-1 border-gray-300 order-1">
    <div class="px-2 w-full">
        <select name="vehicle"
            class="bg-gray-300 border-2 border-gray-200 rounded-full w-full py-3 px-4 text-gray-500 font-bold leading-tight focus:outline-none focus:bg-white focus:shadow-md"
            id="form-field2">
            {{range $v := .Vehicles}}
            <option value="{{$v.VehicleId}}" {{if (eq $v.SelectedVehicleId $v.VehicleId) }}selected{{else}}{{end}}>
                {{$v.Name}}</option>
            {{end}}
        </select>
    </div>
</nav>
{{end}}