@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .vehicles-input {
        @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
    }
    .vehicles-input-label {
        @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
    }
    .elevated-button {
        @apply bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
    }
}

.nunito {
    font-family: 'nunito', font-sans;
}

.border-b-1 {
    border-bottom-width: 1px;
}

.border-l-1 {
    border-left-width: 1px;
}

hover\:border-none:hover {
    border-style: none;
}

#sidebar {
    transition: ease-in-out all .3s;
    z-index: 9999;
}

#sidebar span {
    opacity: 0;
    position: absolute;
    transition: ease-in-out all .1s;
}

#sidebar:hover {
    width: 150px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#sidebar:hover span {
    opacity: 1;
}